body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f4f4f4;
  color: #222;
}

/* HERO SIN BACKGROUND */
.hero {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000; /* Fondo simple negro */
  color: white;
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: #00a2ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 700;
  transition: 0.2s;
}

.btn:hover {
  background: #0089d6;
}

/* SERVICES */
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.services h2 {
  text-align: center;
  margin: 40px 0 20px;
}

.service-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.price {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}

.btn-pay {
  display: inline-block;
  padding: 10px 20px;
  background: #0070ba;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 6px;
  transition: .2s;
}

.btn-pay:hover {
  background: #005a92;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px 0;
  color: #333;
  font-size: 0.9rem;
}
